name: utspemrogramanmobile
description: "A new Flutter project for UTS Pemrograman Mobile"
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # Tambahan untuk memperindah tampilan & mempermudah format
  google_fonts: ^6.2.1
  intl: ^0.19.0
  flutter_animate: ^4.5.0
  lottie: ^3.1.2 # versi terbaru agar kompatibel
  font_awesome_flutter: ^10.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/profile.jpg
    - assets/images/
